version: '3.8'

services:
  api:
    build: .
    ports:
      - "${PORT:-3000}:3000"
    env_file:
      - .env
    volumes:
      - ./cookies.txt:/usr/src/app/cookies.txt:ro
    restart: always
